<!DOCTYPE html>
<html>

  <% include ./partials/head %>

  <body>
    <div class="sidenav mob-sidenav">
      <ul>
        <li id="airport-sidenav" class="sidenav-item">
          <img id="airport-icon" class="sidenav-icon" src="images/icon-kno.png"/>
          <a href="#airport" class="sidenav-text">KNO</a>
        </li>
        <li id="eat-sidenav" class="sidenav-item">
          <img id="eat-icon" class="sidenav-icon" src="images/icon-eat.png"/>
          <a href="#eat" class="sidenav-text">Eat</a>
        </li>
        <li id="sightsee-sidenav" class="sidenav-item">
          <img id="sightsee-icon" class="sidenav-icon" src="images/icon-sightsee.png"/>
          <a href="#sightsee" class="sidenav-text">Sightsee</a>
        </li>
        <li id="sleep-sidenav" class="sidenav-item">
          <img id="sleep-icon" class="sidenav-icon" src="images/icon-sleep.png"/>
          <a href="#sleep" class="sidenav-text">Sleep</a>
        </li>
        <li id="souvenir-sidenav" class="sidenav-item">
          <img id="souvenir-icon" class="sidenav-icon" src="images/icon-gift.png"/>
          <a href="#souvenir" class="sidenav-text">Souvenir</a>
        </li>


        <div id="main-sidenav" class="img-container">
          <a href="#mnj">
            <div id="main-hidden">
              <img id="main-bg" src="images/hili-mirajunda.png">
            </div>
            <img id="text-bg" src="images/mirajunda-aktif.png">
          </a>
        </div>
      </ul>
    </div>



    <!-- Main Content START -->
    <div id="myFullpage" class="main mob-main">


      <!-- Airport Section START -->
      <div class="section">
        <div class="slide" data-anchor="airport">
          <div class="container col-md-10">
            <h3>KNO</h3>
          </div>
        </div>
        <div class="slide" data-anchor="airport-train">
          <div class="container col-md-10">
            <h3>Airport Train</h3>
          </div>
        </div>
        <div class="slide" data-anchor="bus">
          <div class="container col-md-10">
            <h3>Bus</h3>
          </div>
        </div>
        <div class="slide" data-anchor="taxi">
          <div class="container col-md-10">
            <h3>Taxi</h3>
          </div>
        </div>
      </div>
      <!-- Airport Section END -->


      <!-- Eat Section START -->
      <div class="section">
        <div class="slide" data-anchor="macehat">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Macehat</strong></h3></div>
            <div class="address"><h6>Jl. Karo II</h6></div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    Image
                  </div>
                  Credit: http://example.com/sample
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6>Average Cost :
                  <span class="cost"> IDR 100k (For two people)</span>
                </h6>                
                <br/>
                <br/>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula sem, sodales ac laoreet non, suscipit at turpis. Nulla facilisi. Curabitur vitae ante a quam pulvinar vulputate. Donec massa libero, convallis sit amet mauris interdum, fringilla tincidunt mauris. Sed magna lorem, bibendum ut risus a, laoreet aliquam massa. Duis tellus elit, efficitur rutrum nibh ac, mattis imperdiet dui. Pellentesque lorem augue, hendrerit id ullamcorper vel, dictum in purus. Duis eget aliquam ipsum. Vestibulum eu dolor a turpis feugiat tempus.</h6>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide" data-anchor="sop-langsa">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Sop Langsa</strong></h3></div>
            <div class="address"><h6>Jl. Karo II</h6></div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    Image
                  </div>
                  Credit: http://example.com/sample
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6>Average Cost :
                  <span class="cost"> IDR 100k (For two people)</span>
                </h6>                
                <br/>
                <br/>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula sem, sodales ac laoreet non, suscipit at turpis. Nulla facilisi. Curabitur vitae ante a quam pulvinar vulputate. Donec massa libero, convallis sit amet mauris interdum, fringilla tincidunt mauris. Sed magna lorem, bibendum ut risus a, laoreet aliquam massa. Duis tellus elit, efficitur rutrum nibh ac, mattis imperdiet dui. Pellentesque lorem augue, hendrerit id ullamcorper vel, dictum in purus. Duis eget aliquam ipsum. Vestibulum eu dolor a turpis feugiat tempus.</h6>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide" data-anchor="sinar-pagi">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Soto Medan Sinar Pagi</strong></h3></div>
            <div class="address"><h6>Jl. Karo II</h6></div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    Image
                  </div>
                  Credit: http://example.com/sample
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6>Average Cost :
                  <span class="cost"> IDR 100k (For two people)</span>
                </h6>                
                <br/>
                <br/>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula sem, sodales ac laoreet non, suscipit at turpis. Nulla facilisi. Curabitur vitae ante a quam pulvinar vulputate. Donec massa libero, convallis sit amet mauris interdum, fringilla tincidunt mauris. Sed magna lorem, bibendum ut risus a, laoreet aliquam massa. Duis tellus elit, efficitur rutrum nibh ac, mattis imperdiet dui. Pellentesque lorem augue, hendrerit id ullamcorper vel, dictum in purus. Duis eget aliquam ipsum. Vestibulum eu dolor a turpis feugiat tempus.</h6>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Eat Section END -->



      <div class="section">
        <div class="slide" data-anchor="sightsee">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Sightsee</strong></h3></div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="slide" data-anchor="sleep">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Sleep</strong></h3></div>
          </div>
        </div>
      </div>


      <!-- Gift Section START -->
      <div class="section">
        <div class="slide" data-anchor="meranti">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Meranti</strong></h3></div>
            <div class="address"><h6>Jl. Karo II</h6></div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    Image
                  </div>
                  Credit: http://example.com/sample
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6>Average Cost :
                  <span class="cost"> IDR 100k (For two people)</span>
                </h6>                
                <br/>
                <br/>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula sem, sodales ac laoreet non, suscipit at turpis. Nulla facilisi. Curabitur vitae ante a quam pulvinar vulputate. Donec massa libero, convallis sit amet mauris interdum, fringilla tincidunt mauris. Sed magna lorem, bibendum ut risus a, laoreet aliquam massa. Duis tellus elit, efficitur rutrum nibh ac, mattis imperdiet dui. Pellentesque lorem augue, hendrerit id ullamcorper vel, dictum in purus. Duis eget aliquam ipsum. Vestibulum eu dolor a turpis feugiat tempus.</h6>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide" data-anchor="zulaikha">
          <div class="container col-md-10">
            <div class="title"><h3><strong>Zulaikha</strong></h3></div>
            <div class="address"><h6>Jl. Karo II</h6></div>
            <div class="content-body row">
              <div class="col-md-4">
                <div class="row">
                  <div class="gambar col-md-12">
                    Image
                  </div>
                  Credit: http://example.com/sample
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7">
                <h6>Average Cost :
                  <span class="cost"> IDR 100k (For two people)</span>
                </h6>                
                <br/>
                <br/>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula sem, sodales ac laoreet non, suscipit at turpis. Nulla facilisi. Curabitur vitae ante a quam pulvinar vulputate. Donec massa libero, convallis sit amet mauris interdum, fringilla tincidunt mauris. Sed magna lorem, bibendum ut risus a, laoreet aliquam massa. Duis tellus elit, efficitur rutrum nibh ac, mattis imperdiet dui. Pellentesque lorem augue, hendrerit id ullamcorper vel, dictum in purus. Duis eget aliquam ipsum. Vestibulum eu dolor a turpis feugiat tempus.</h6>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row rating">
              <div class="col-md-5">
                <div class="row">Mira says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">Junda says:</div>
                <div class="row saying">&nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas! (5/5)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gift Section START -->


      <div class="section active">MnJ</div>
    </div>
    <!-- Main Content END -->



    <% include ./partials/scripts %>
  </body>
</html>
