<!DOCTYPE html>
<html>

  <% include ./partials/head %>

  <body>
    <div class="sidenav">
      <ul>
        <li id="airport-sidenav" class="sidenav-item">
          <a href="#airport">KNO</a>
        </li>
        <li id="eat-sidenav" class="sidenav-item">
          <a href="#eat">Eat</a>
        </li>
        <li id="sightsee-sidenav" class="sidenav-item">
          <a href="#sightsee">Sightsee</a>
        </li>
        <li id="sleep-sidenav" class="sidenav-item">
          <a href="#sleep">Sleep</a>
        </li>
        <li id="souvenir-sidenav" class="sidenav-item">
          <a href="#souvenir">Souvenir</a>
        </li>
      </ul>
    </div>

    <div id="myFullpage" class="main">
      <div class="section">Airport</div>
      <div class="section">Eat</div>
      <div class="section">Sleep</div>
      <div class="section">Sightsee</div>
      <div class="section">Souvenir</div>
      <div class="section active">MnJ</div>
    </div>

    <% include ./partials/scripts %>
  </body>
</html>
