<!DOCTYPE html>
<html>

  <% include ./partials/head %>

  <body>
    <div class="sidenav">
      <ul>
        <li id="airport-sidenav" class="sidenav-item">
          <img id="airport-icon" class="sidenav-icon" src="images/icon-kno.png"/>
          <a href="#airport" class="sidenav-text">KNO</a>
        </li>
        <li id="eat-sidenav" class="sidenav-item">
          <img id="eat-icon" class="sidenav-icon" src="images/icon-eat.png"/>
          <a href="#eat" class="sidenav-text">Eat</a>
        </li>
        <li id="sightsee-sidenav" class="sidenav-item">
          <img id="sightsee-icon" class="sidenav-icon" src="images/icon-sightsee.png"/>
          <a href="#sightsee" class="sidenav-text">Sightsee</a>
        </li>
        <li id="sleep-sidenav" class="sidenav-item">
          <img id="sleep-icon" class="sidenav-icon" src="images/icon-sleep.png"/>
          <a href="#sleep" class="sidenav-text">Sleep</a>
        </li>
        <li id="souvenir-sidenav" class="sidenav-item">
          <img id="souvenir-icon" class="sidenav-icon" src="images/icon-gift.png"/>
          <a href="#souvenir" class="sidenav-text">Souvenir</a>
        </li>


        <div id="main-sidenav" class="img-container">
          <a href="#mnj">
            <img id="main-bg" src="images/hili-mirajunda.png">
            <img id="text-bg" src="images/mirajunda-aktif.png">
          </a>
        </div>
      </ul>
    </div>

    <div id="myFullpage" class="main">
      <div class="section">Airport</div>
      <div class="section">Eat</div>
      <div class="section">Sleep</div>
      <div class="section">Sightsee</div>
      <div class="section">Souvenir</div>
      <div class="section active">MnJ</div>
    </div>

    <% include ./partials/scripts %>
  </body>
</html>
