<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
  <div class="sidemenu">

  	<div id="sidemenu-item-0" class="sidemenu-item unactive">
			<img id="icon-0" class="sidemenu-icon" src="images/icon-kno.png"/> <span id="text-0" class="sidemenu-text"> KNO </span>
  	</div>
  	<div id="sidemenu-item-1" class="sidemenu-item unactive">
			<img id="icon-1" class="sidemenu-icon" src="images/icon-eat.png"/> <span id="text-1" class="sidemenu-text"> Eat </span>
  	</div>
  	<div id="sidemenu-item-2" class="sidemenu-item unactive">
  			<img id="icon-2" class="sidemenu-icon" src="images/icon-sightsee.png"/> <span id="text-2" class="sidemenu-text"> Sightsee </span>
  	</div>
  	<div id="sidemenu-item-3" class="sidemenu-item unactive">
  			<img id="icon-3" class="sidemenu-icon" src="images/icon-sleep.png"/> <span id="text-3" class="sidemenu-text"> Sleep </span>
  	</div>
  	<div id="sidemenu-item-4" class="sidemenu-item unactive">
  			<img id="icon-4" class="sidemenu-icon" src="images/icon-sightsee.png"/> <span id="text-4" class="sidemenu-text"> Souvenirs </span>
  	</div>


  </div>

  </body>
</html>
