/*
 *  1. Main Layout
 */


body {
  padding: 50px;
  font: 10px 'Quicksand', sans-serif;
  color: #183d74;
}

a {
  color: #183d74;
}

a:link {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}

.sidenav {
  height: 100%;
  width: 26em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 14em;
  border-right: 1px dashed #183d74;
  display: inline-block;
  /* background-image: linear-gradient(#183d74 25%, white 75%);
  background-position: right;
  background-size: 1px 18px;
  background-repeat: repeat-y; */
}

.sidenav li {
  width: auto;
  height: auto;
  padding: 0 24px;
  margin: 2px 50px;
}

.sidenav li:hover{
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  background-color: #e4e4e4;
}

.sidenav li.active {
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  background-color: #e4e4e4;
}

.sidenav li.active a {
  color: #9d1e31;
}

.sidenav .sidenav-item a {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  display: block;
}

.sidenav .sidenav-item .sidenav-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.sidenav .sidenav-item .sidenav-text {
  display: inline-block;
  vertical-align: middle;
	padding-left: 15px;
	font-size: 12px;
}

.sidenav #main-sidenav {
  margin: 0 auto;
  width: 66%;
}

.sidenav #main-sidenav img {
  margin-top: 30px;
  position: absolute;
  width: 66%;
}

.sidenav #main-sidenav #main-bg {
  z-index: 1;
}

.sidenav #main-sidenav #text-bg {
  z-index: 3;
}

.sidenav #footer-sidenav {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2em;
}

.main {
  margin-left: 26em; /* Same as the width of the sidenav */
  padding: 0px 10px;
}


/* Mira Bul */
img {
  max-width: 100%;
  max-height: 100%;
}



/*
 *  2. Slide Layout
 */

.container {
  min-height: 85%;
  position: relative;
}

.title-kno {
  text-align: center;
  font-size: 2.8em;
}

.desc-kno {
  margin-top: 2em;
  text-align: center;
  font-size: 4.5em;
}

.icon-kno {
  display: block;
  margin: auto;
  height: 30em;
}

.title {
  margin: 0 20px;
  position: relative;
}

.address {
  margin: 15px 20px 0 20px;
  position: relative;
  display: block;
}

.address .address-icon {
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
}

.address .address-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  margin-bottom: 0;
  text-decoration: underline;
}

.content-body {
  margin-top: 5em;
}

.gambar-img {
  object-fit: cover;
  margin: 0 20px 5px 20px;
  height: 300px;
  width: inherit;
}

.gambar-credit {
  margin: 0 20px;
}

.description {
  margin-top: 2em;
}

h6 .cost {
  color: darkgray;
}

.rating {
  margin: 2em 3em 0;
  font-size: 1.4em;
  color: darkgray;
}

.saying {
  margin-top: 8px;
  color: #183d74;
}

.fp-slidesNav {
  display: inline-block;
  text-align: center;
}

.fp-slidesNav ul li a span {
  background: #183d74;
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #183d74 transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  width: 0;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #183d74;
}



/*
 *  3. Invitation Section Layout
 */

.invitation-main-title {
  text-align: center;
  font-size: 4em;
}

#invitation-main .fp-bg {
  background-image: url('../images/bg-london.png');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 50% 25%;
}


#para-muka {
  position: absolute;
  max-height: 60%;
  width: 60%;
  display: block;
  left: 20%;
  top: 17%;
  z-index: 1;
}

#para-bus {
  position: absolute;
  max-height: 50%;
  width: 50%;
  display: block;
  top: 27%;
  right: 23%;
  z-index: 3;
}

#para-phone {
  position: absolute;
  max-height: 50%;
  width: 50%;
  display: block;
  top: 27%;
  left: 20%;
  z-index: 3;
}

@media (max-width: 576px) {
  #invitation-main .fp-bg {
    background-size: 90%;
    background-position: 50% 30%;
  }

  #para-bus {
    top: 23%;
    right: 23%;
  }

  #para-phone {
    top: 23%;
    left: 20%;
  }

}

/*
 *  4. Responsive
 */

 @media (max-width: 576px) {
  .mob-sidenav {
    display: none;
    width: 0px;
  }

  .mob-main {
    margin-left: 0;
    padding: 0px 0px;
  }

  .title {
    top: -30px;
  }

  .address {
    top: -25px;
  }

  .content-body {
    margin-top: 3em;
  }

  .description {
    display: none;
  }

  .cost {
    margin-top: 20px;
    text-align: center;
  }

  .gambar-img {
    object-fit: cover;
    display: block;
    height: 200px !important;
    width: 80%;
    margin: 0 auto;
  }

  .gambar-credit {
    text-align: center;
  }

  .rating {
    margin-top: 1em;
  }

  .saying {
    margin-top: 4px;
  }

  .junda {
    margin-top: 14px;
  }
}