body {
  padding: 50px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #183d74;
}

ul {
  padding: 0;
  list-style: none;
}

.sidenav {
  height: 100%;
  width: 21em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 10em;
  border-right: 1px dashed #183d74;

  /* background-image: linear-gradient(#183d74 25%, white 75%);
  background-position: right;
  background-size: 1px 18px;
  background-repeat: repeat-y; */
}

.sidenav li {
  width: auto;
  height: auto;
  padding: 2px 24px;
  margin: 0 50px;
}

.sidenav li:hover{
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  background-color: #eeeeee;
}

.sidenav li.active {
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  background-color: #eeeeee;
}

.sidenav .sidenav-item a {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  display: block;
}

.main {
  margin-left: 21em; /* Same as the width of the sidenav */
  padding: 0px 10px;
  background-color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}