body {
  padding: 50px;
  font-family: 'Quicksand';
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #183d74;
}

a {
  color: #183d74;
}

ul {
  padding: 0;
  list-style: none;
}

.sidenav {
  height: 100%;
  width: 26em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 14em;
  border-right: 1px dashed #183d74;
  display: inline-block;
  /* background-image: linear-gradient(#183d74 25%, white 75%);
  background-position: right;
  background-size: 1px 18px;
  background-repeat: repeat-y; */
}

.sidenav li {
  width: auto;
  height: auto;
  padding: 0 24px;
  margin: 2px 50px;
}

.sidenav li:hover{
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  background-color: #eeeeee;
}

.sidenav li.active {
  -moz-border-radius-topleft: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  background-color: #eeeeee;
}

.sidenav li.active a {
  color: #9d1e31;
}

.sidenav .sidenav-item a {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  display: block;
}

.sidenav .sidenav-item .sidenav-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.sidenav .sidenav-item .sidenav-text {
  display: inline-block;
  vertical-align: middle;
	padding-left: 15px;
	font-size: 12px;
}

.sidenav #main-sidenav {
  margin: 0 auto;
  width: 66%;
}

.sidenav #main-sidenav img {
  margin-top: 30px;
  position: absolute;
  width: 66%;
}

.sidenav #main-sidenav #main-bg {
  z-index: 1;
}

.sidenav #main-sidenav #text-bg {
  z-index: 3;
}

.main {
  margin-left: 26em; /* Same as the width of the sidenav */
  padding: 0px 10px;
  background-color: #f1f1f1;
}


/* Mira Bul */
img {
  max-width: 100%;
  max-height: 100%;
}
